.body {
	margin: 0;
}
.header ul {
	padding: 0;
}
.header .flex-container1 {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	list-style: none;
}
.flex-container1 #flex-logo {
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	margin-right: 50px;
}
.flex-container1 img {
	margin-right: 10px;
	width: 15vw;
	height: auto;
	max-width: 150px;
	max-height: auto;
}
.flex-container1 h1 {
	margin: 0;
	font-weight: bold;
	font-size: 5vmin;
}
.flex-container1 p {
	margin: 0;
	align-content: right;
	font-size: 3vmin;
}
.flex-container1 #quote {
	font-style: italic;
}
.flex-container1 #quoter {
	justify-content: flex-end;
}
.header .flex-container2 {
	margin: 0 -10px 0 -10px;
	padding: 0 10px 0 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	background-color: #000000;
	line-height: 4vh;
}
.flex-container2 a {
	color: #ffffff;
	display: flex;
	flex-direction: row;
	padding: 1em;
	text-decoration: none;
	font-size: 3vmin;
}
.dropdown-content {
	margin: 0;
	padding: 0;
	display: none;
	background-color: #000000;
	position: absolute;
	z-index: 2;
}
.flex-container2 .dropdown-content a {
	padding: .2em 1em .2em 1em;
}
.nav-item:hover .dropdown-content {
	display: block;
}
.flex-container2 a:hover {
	color: #f1f1f1;
	background-color: #555555;
}
.flex-container2 .searchbox {
	margin-right: 10px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	font-size: 3vmin;
}
.searchbox p {
	color: #f1f1f1;
	margin-right: 5px;
}
.searchbox #search {
	padding: 3px;
	width: 10vw;
}
.searchbox #submit {
	padding: 3px;
}
.showcase {
	margin: 10px auto auto auto;
	position: relative;
	width: 75vw;
	height: auto;
	max-width: 1000px;
	max-height: auto;
}
.showcase img {
	border-radius: 5px;
	max-width: 100%;
	max-height: auto;
	z-index: -1;
}
.showcase button {
	border-style: hidden;
	border-radius: 5px;
	font-size: 2vmin;
	font-weight: bold;
	position: absolute;
	bottom: 5%;
	right: 3%;
	transform: translate(-5%, -3%);
	-ms-transform: translate(-5%, -3%);
	background-color: #f1f1f1;
	
	padding: 3vmin 4vmin;
	z-index: 1;
}
.showcase button:hover {
	cursor: pointer;
	background-color: red;
	color: white;
}
.showcase #box {
	position: absolute;
	border-radius: 5px;
	bottom: 1%;
	right: 0%;
	transform: translate(-0%, -0%);
	-ms-transform: translate(-0%, -0%);
	width: 100%;
	height: 35%;
	background-color: #000000;
	opacity: .6;
	z-index: 0;
}
.showcase p {
	position: absolute;
	color: #f1f1f1;
	background-color: transparent;
	height: 40%;
	width: 60%;
	font-size: 2.75vmin;
	bottom: -13%;
	left: -4%;
	transform: translate(13%, 4%);
	-ms-transform: translate(13%, 4%);
	object-position: bottom;
	z-index: 1;
}

.display-grid-container {
	display: grid;
	grid-column-gap: 15px;
	grid-row-gap: 5px;
	margin: 20px 10px 10px 10px;
	padding: 5%;
	justify-content: space-between;
	align-content: center;
}
#grid-item1 {
	grid-column: 1;
	grid-row-start: 1;
	grid-row-end: 3;
	align-items: center;
	text-align: center;
}
#grid-item2 {
	grid-column: 2;
	grid-row-start: 1;
	grid-row-end: 3;
	align-items: center;
	text-align: center;
}
#grid-item3 {
	grid-column: 3;
	grid-row-start: 1;
	grid-row-end: 3;
	align-items: center;
	text-align: center;
}
.display-grid-container img {
	width: 12vw;
	height: auto;
	max-width: 96px;
	max-height: 96px;
}
.display-grid-container h1 {
	font-weight: bold;
	font-size: 4vmin;
	margin-bottom: 0;
}
.display-grid-container p {
	margin-top: 2px;
	font-size: 3vmin;
}
.support .flex-container {
	margin: 0 5px -5px 0;
	padding: 0;
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	right: 0;
	bottom: 0;
}
.support img {
	height: 10vmin;
	width: 10vmin;
	max-width: 100px;
	max-height: 100px;
}
.support p {
	font-size: 2vmin;
	margin-bottom: 5px;
}
.support .name p {
	margin: 0;
	padding: 0;
	font-weight: bold;
}
