body {
	margin: 0;
}

header a {
  text-decoration: none;
  color: white;
}
.flex-container1 p {
	margin: 0;
	padding: 0;
	text-align: right;
}
header h1 {
	margin: 0;
	padding: 0;
}
.dropdown-content {
	display: none;
	font-weight: normal;
	position: absolute;
	text-indent: 3px;
	padding-right: 5vmin;
	background-color: grey;
  	z-index: 3;
}
.dropdown-content a:hover {
	background-color: #000000;
	color: #f1f1f1;
}
.flex-container1 {
	display: inline-flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.flex-container1 img {
	height: 20vmin;
	width: 20vmin;
	max-height: 100px;
	max-width: 100px;
}
#flex-logo {
	margin: 10px;
}
#flex-title {
	font-size: 2.5vmin;
	margin-right: 10vw;
}
#flex-caption {
	align-self: right;
	column-width: 50vw;
	font-size: 3vmin;
}
.flex-container2 {
	padding-left: 10px;
	line-height: 4vh;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	background-color: #000000;
}
.flex-container2 > div {
	margin-right: 10vmin;
	font-weight: bold;
	font-size: 3vmin;
}
.flex-container2 > div:hover {
	background-color: grey;
}
#services:hover .dropdown-content {
	display: block;
}
#about:hover .dropdown-content {
	display: block;
}
.showcase {
	position: relative;
	width: 100%;
	max-width: 700px;
	justify-content: left;
}
.showcase img {
	border-bottom-right-radius: 15px;
	max-width: 100%;
	max-height: auto;
	z-index: -1;
}
.showcase button {
	border-style: hidden;
	border-radius: 15px;
	font-size: 2vmin;
	font-weight: bold;
	position: absolute;
	bottom: 5%;
	right: 3%;
	transform: translate(-5%, -3%);
	-ms-transform: translate(-5%, -3%);
	background-color: #f1f1f1;
	
	padding: 3vmin 4vmin;
	z-index: 2;
}
.showcase button:hover {
	background-color: red;
	color: black;
}
.showcase #box {
	position: absolute;
	border-bottom-right-radius: 15px;
	bottom: 1%;
	right: 0%;
	transform: translate(-0%, -0%);
	-ms-transform: translate(-0%, -0%);
	width: 100%;
	height: 35%;
	background-color: #000000;
	opacity: .6;
	z-index: 0;
}
.showcase p {
	position: absolute;
	color: #f1f1f1;
	background-color: transparent;
	height: 40%;
	width: 60%;
	font-size: 3vmin;
	bottom: -11%;
	left: -4%;
	transform: translate(11%, 4%);
	-ms-transform: translate(11%, 4%);
	z-index: 1;
}
.grid-container {
	display: grid;
	grid-template-columns: 70vmin 25vmin;
	grid-template-rows: auto auto auto auto;
	grid-column-gap: 10px;
}
.grid-item aside {
	grid-column: 2;

}
.searchbox {
	margin-top: 10px;
}
#grid-box {
	text-indent: 4px;
	color: #f1f1f1;
	width: 25vmin;
	height: 20px;
	background-color: #000000;
	opacity: .8;
}
.searchbox input {
	margin-top: 2px;
	width: 25vmin;
}
